.navbar {
    background-color: #FFE5E1;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #ffc5bc;
    color: #fff !important;
}

.goTopBtn{
    color: #edd5c3bd;
}
.goTopBtn:hover{
    color: #ddb295bd;
}

.ContentSlide {
    animation: slide-up 2s;
}

h4{
    color: #c6997d;
}

.sideTitle{
    padding-bottom: 1em;
}

@keyframes slide-up {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0);
    }
}

#footer {
    background:hsl(8, 100%, 94%);
    padding: 0.5cm
}