
.navbar {
    background-color: #FDF6DE;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #FDF6DE;
    color: #fff !important;
}

.goTopBtn{
    color: #edd5c3bd;
}
.goTopBtn:hover{
    color: #ddb295bd;
}

.container{
    width: 1600px;
}

.fab{
    color:rgb(195, 182, 182)
}
html {
    /* remove right whitespace */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    /* remove right whitespace */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.carousel-inner{
    justify-content: center; 
    background-color: #a3b18a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #344e41;
}
.d-block{
    display: block;
    /* vertical-align: middle; */
}

.boxwebform{
    height: 380px;
}
.boxword{
    height: 170px;
}

.boxA{
    height: 290px;
}
.boxB{
    height: 290px;
}
.boxD{
    height: 500px;
}
.boxE{
    height: 350px;
}
.boxF{
    height: 290px;
}
.boxG{
    height: 190px;
}
.boxcom{
    height: 360px;
}
.boxtime{
    height: 360px;
}

.h5white{
    color: #fff; 
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    font-weight: bold;
}

.itemTitle{
    font-family: 'Noto Serif TC', serif;
    font-size: 2em;
    padding-bottom: 0.5em;
    color: 	#834011;
    font-weight: bolder ;
}

#footer {
    background: hsl(46, 89%, 93%);
    padding: 0.5cm
}

