
/*Timeline*/
.box {
    height: 240px;
    background-color: #a3b18a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #344e41;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

.timeLine {
    position: relative;
}

.timeLine::after {
    content: "";
    /*偽元素的起手式，一定要有才會呈現 */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    /*會發現有點偏右，因為有3px的寬度 */
    width: 3px;
    transform: translateX(-50%);
    /* 把3px的寬度往左拉回一半中間 */
    background-color: #344e41;
}

.timeLine-pointer {
    position: relative;
}

.timeLine-pointer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*畫出圓形 */
    border: 3px solid #344e41;
    transform: translateX(-50%);
    background-color: #dad7cd;
    z-index: 1;
    /*把位置移到中間線上方 */
}

@media (max-width: 576px) {
    .timeLine::after {
        display: none;
    }

    .timeLine-pointer::after {
        display: none;
    }
}